// This file is used to add styles to the style guide and is not included in
// the Drupal site. It gets included by the style guide by adding it to the
// options.styleGuide.css object in gulpfile.js.

// Add an outline to every grid item in the style guide.
// [id^="kssref-layouts-"] [class^="layout-"][class*="__"] {
//   outline: 1px dotted color('grey');
// }
div.kss-modifier__wrapper {
  > * {
    // float: left;
    width: 100%;
    position: relative;
  }
}

// KSS STYLE CUSTOM OVERRIDES

// ------------------------------------------------------------------------------
// Layout and page background
// ------------------------------------------------------------------------------

#kss-node {
  .kss-main {
    @media screen and (min-width: 769px) {
      width: 100%;
      margin-left: 0;
      padding: 0 30px;
    }
  }

  .kss-sidebar {
    z-index: 10;
    border-bottom: 0;
    position: relative;
    width: auto;
    height: auto;
    overflow: auto;
    padding: 0;
    background-image: none;
    box-shadow: none;
  }
}

// ------------------------------------------------------------------------------
// Sidebar-area components
// ------------------------------------------------------------------------------

#kss-node {
  margin-top: 70px;

  header.kss-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    padding: 0 30px;
    margin-top: 0;
    border-bottom: 1px solid;
    border-color: #979797;
    background-color: #fff;
    z-index: 15;

    h1 {
      margin: 0;
      line-height: 70px;
      font-weight: 300;
      font-size: 2em;
    }
  }

  nav.kss-nav {
    position: fixed;
    top: 70px;
    bottom: 0;
    right: 0;
    width: 330px;
    overflow-y: scroll;
    background: rgba(0, 0, 0, 0.85);
    color: #fff;
    text-shadow: 2px 2px 6px #000;
    font-size: 1.3333em;
    margin-top: 0;
    z-index: 20;
    height: 0;
    transition: height 0.3s;

    &.open {
      height: calc(100vh - 70px);
    }
  }

  .kss-nav__trigger {
    width: auto;
    height: 20px;
    top: 24px;
    position: fixed;
    z-index: 25;
    right: 40px;
    text-align: right;
    text-transform: uppercase;
    color: #619ce1;
    font-weight: 900;

    & a {
      color: #619ce1;
    }

    &::after {
      content: ' +';
      display: inline-block;
      width: 1rem;
      text-align: right;
      font-size: 20px;
      transition: all 0.3s;
      position: absolute;
      top: -2px;
    }

    &.open::after {
      transform: rotate(45deg);
      top: -5px;
      font-size: 24px;
      width: 1.25rem;
    }

    &:hover {
      cursor: pointer;
      text-decoration: underline;

      & a {
        color: #619ce1;
      }
    }
  }

  ul.kss-nav__menu {
    margin: 0;
    padding: 0;
  }

  li.kss-nav__menu-item {
    padding: 15px 30px;
    border-bottom: 1px solid #6c6c6c;
    display: list-item;
    padding-right: 0;
  }

  a.kss-nav__menu-link,
  a.kss-nav__menu-link:link,
  a.kss-nav__menu-link:visited,
  a.kss-nav__menu-link:hover,
  a.kss-nav__menu-link:active {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }

  a.kss-nav__menu-link:hover {
    color: #aaa;
    cursor: pointer;
  }

  span.kss-nav__ref {
    color: #a0cafb;
    font-size: 0.8em;
    padding-right: 10px;

    &::after {
      display: none;
    }
  }

  ul.kss-nav__menu-child {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  ul.kss-nav__menu-child li.kss-nav__menu-item {
    padding: 7px 20px;
    font-size: 0.8em;
    border: none;
  }

  .kss-nav__menu-link {
    // position: relative;
    // display: inline-block;

    &::before {
      content: ' ';
      position: absolute;
      left: -20px;
      width: 0;
      height: 100%;
      background-color: rgba(#000, 0);
    }

    &.is-in-viewport::before {
      background-color: #999;
      width: 10px;
      transition: background-color 0.3s;
      height: 10px;
      border-radius: 100px;
      margin-top: 7px;
    }
  }
}

// ------------------------------------------------------------------------------
// Content-area components
// ------------------------------------------------------------------------------
#kss-node {
  .kss-section {
    max-width: 100%;
    padding-top: 50px;

    &:first-child {
      padding-top: 0;
    }
  }
}
